include ../svg-icon/index

//- @pugdoc
  name: category
  description: create category indicator
  beforeEach: |
    include ../../utils/util
    include ../svg-icon/index
  arguments:
    - {object} props
    - {array} props.category sequence of category
    - |
      {boolean} [props.level] [`lowest`] the level of category to be display
      <br> one of `'lowest'`, `'top'`, `'all'`
    - {string} props.visibleLabel the visible label for category
  examples:
    - |
      +category({
        categories,
        visibleLabel: '📂',
        useLink: false,
        class: `post-card__meta__item`,
        level: `all`,
        separator: `>`
      })

mixin category(props)
  -
    const categoryProps = {
      categories: PropTypes.array.isRequired,
      level: PropTypes.oneOf([
        `lowest`,
        `top`,
        `all`,
      ]),
      visibleLabel: PropTypes.string,
      useLink: PropTypes.bool,
      separator: PropTypes.string,
    };
    const categoryValidate = validateProps(categoryProps);
    const defaults = {
      level: `lowest`,
    };
    const {
      categories,
      level,
      visibleLabel,
      useLink,
      separator,
      ...attrs
    } = {
      ...defaults,
      ...props,
    };
    categoryValidate({
      categories,
      level,
      visibleLabel,
      useLink,
      separator,
    });

    const {prefix} = theme;
    const categoryEntries = ((level, categories) => {
      switch (level) {
        case "lowest":
          return categories.at(0);
        case "top":
          return categories.poop();
        case "all":
          return categories;
      }
    })(level, categories);
    const wrapper = useLink ? `a` : `span`;
    const isIconName = str => {
      if (str.length < 2) return false;
      if (/^[&\\]/.test(str)) return false;
      return true;
    };

  span(
    class= `${prefix}-category`
  )&attributes(attrs)
    span(
      class= `${prefix}-category__label`
      role= `img`
      aria-label= `${_p('label.category')}`
    )= visibleLabel
    if (Array.isArray(categoryEntries))
      span(
        role= `list`
        class= `${prefix}-category__list`
      )
        each entry, idx in categoryEntries.reverse()
          if idx > 0
            span(
              aria-hidden= `true`
              class= `${prefix}-category__separator`
            )
              if isIconName(separator)
                +svgIcon({name: separator})
              else
                = separator
          span(
            role= `listitem`
            class= `${prefix}-category__content`
          )
            #{wrapper}(
              href= useLink ? entry.path : null
            )= entry.name
    else
      #{wrapper}(
        href= useLink ? categoryEntries.path : null
        class= `${prefix}-category__content`
      )= categoryEntries.name
