//- @pugdoc
  name: cclLicense
  description: ccl license text
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - {number|number[]} [props.year] of first publication of the work
    - {string} [props.name] the name of the owner of copyright in the work
    - |
      {string[]} [props.license] the features to apply to license
      among `by`, `nc`, `nd`, `sa`
    - |
      {number} [props.version] the version of creative commons license
      <br> one of 1, 2, 2.5, 3, 4
  examples:
    - |
      +cclLicense({
        year: [2012, 2022],
        name: config.author,
        license: [`by`, `nc`, `nd`],
      })

mixin cclLicense(props = {})
  -
    // define types
    const licenseProps = {
      year: PropTypes.oneOfType([
        PropTypes.number,
        PropTypes.arrayOf(PropTypes.number),
      ]),
      name: PropTypes.string,
      license: PropTypes.arrayOf(
        PropTypes.oneOf([
          `by`,
          `nc`,
          `nd`,
          `sa`,
        ])
      ),
      version: PropTypes.oneOf([
        4,
        3,
        2.5,
        2,
        1,
      ])
    };

    // verifying props
    validateProps(licenseProps)(props);

    const {
      year,
      name,
      license,
      version,
      ...attrs
    } = props;

    const { prefix } = theme;
    const licenseTxt = license.map(li => li.toUpperCase()).sort().join(`-`);
    const licenseUrl =
      `https://creativecommons.org/licenses/${
        licenseTxt.toLowerCase()
      }/${(version || 4).toFixed(1)}`;
    const ccImage = `
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-label="creative commons license"
        role="img"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
        class="${prefix}-license__icon"
      >
        <path
          fill="currentColor"
          d="m11.89 10.34l-1.34.7c-.14-.3-.31-.51-.52-.63c-.21-.12-.41-.18-.`
          + `58-.18c-.9 0-1.34.59-1.34 1.77c0 .54.11.97.34 1.29c.22.32.55.48 1 `
          + `.48c.58 0 .99-.27 1.23-.86l1.23.63c-.26.49-.62.87-1.09 1.15c-.46.`
          + `28-.97.42-1.53.42c-.9 0-1.62-.27-2.17-.82C6.58 13.74 6.3 13 6.3 `
          + `12c0-.95.28-1.7.83-2.26c.56-.56 1.26-.84 2.1-.84c1.24-.01 2.13.48 `
          + `2.66 1.44m5.77 0l-1.32.7c-.14-.3-.34-.51-.53-.63c-.21-.12-.41-.`
          + `18-.6-.18c-.89 0-1.34.59-1.34 1.77c0 .54.13.97.34 1.29c.23.32.56.`
          + `48 1 .48c.59 0 1-.27 1.24-.86l1.25.63c-.28.49-.65.87-1.11 1.15c-`
          + `.47.28-.97.42-1.52.42c-.9 0-1.63-.27-2.17-.82c-.54-.55-.81-1.29-`
          + `.81-2.29c0-.95.28-1.7.83-2.26c.55-.56 1.25-.84 2.08-.84c1.26-.01 `
          + `2.14.48 2.66 1.44M12 3.5a8.5 8.5 0 0 1 8.5 8.5a8.5 8.5 0 0 1-8.5 `
          + `8.5A8.5 8.5 0 0 1 3.5 12A8.5 8.5 0 0 1 12 3.5M12 2A10 10 0 0 0 2 `
          + `12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"
        >
        </path>
      </svg>
    `;

    let startYear;
    let lastYear;
    if(Array.isArray(year)) {
      [startYear, lastYear] = year;
    } else {
      startYear = year;
    }

  p(
    class= `${prefix}-license`
  )
    | !{ccImage}

    if startYear
      time(
        datetime= startYear
        class= `${prefix}-license__year`
      )= startYear
    if lastYear
      time(
        datetime= lastYear
        class= `${prefix}-license__year`
      )= `~ ${lastYear}`

    span(
      class= `${prefix}-license__name`
    )= (config.author || ``)

    span(
      class= `${prefix}-license__link`
    )
      |(
      a(
        href= licenseUrl
        rel="external noreferrer noopener nofollow"
        target="_blank"
      )= licenseTxt
      |)
