include /components/utils/util.pug
include /components/utils/mixin.pug

doctype html
html(lang=config.language)
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    meta(
      name="color-scheme"
      content="dark light"
    )
    link(
      rel="canonical"
      href=stripFileName(url)
    )
    if theme.favicon
      link(
        rel="shortcut icon"
        href=url_for(theme.favicon)
      )
    +pageTitle
    +pageSequenceLink
    +preLoadImage
    +openGraph
    +siteVerification
    +styles([])
    +jsonLD
    +analytics
  body
