//- @pugdoc
  name: svgIcon
  description: svg icon component with font awesome
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} props
    - {string} props.name name of icon
    - {string} [props.type] type of icon
  examples:
    - |
      +svgIcon({name: `thumbs-up`})

mixin svgIcon(props = {})
  -
    // define types
    const svgIconProps = {
      name: PropTypes.string.isRequired,
      type: PropTypes.string,
    };

    // verifying props
    validateProps(svgIconProps)(props);

    // merge user-supplied options with the defaults
    const defaultProps = {
      type: null,
    };

    const {
      name,
      type,
      ...attrs
    } = {
      ...defaultProps,
      ...props,
    };

    const { prefix } = theme;
    const imagePath = full_url(`/images`);
    const {
      iconName,
      iconCategory,
    } = icon_info(`${name}${type && ('/' + type) || ""}`);

  svg(
    class= `${prefix}-svg-icon`
    focusable= `false`
  )&attributes(attrs)
    use(xlink:href= `${imagePath}/${iconCategory}.svg#${iconName}`)
