//- @pugdoc
  name: heading
  description: create heading element
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - {string} props.level the level(rank) of heading
    - {boolean} [props.visible] whether an element is visible or not
  examples:
    - |
      +heading({level: 1 }) heading
mixin heading(props)
  -
    // verifying props
    const headingProps = {
      level: PropTypes.number.custom(({prop}) => {
        if (Number.isInteger(prop) && prop > 0 && prop < 7) {
          return true;
        } else {
          throw new Error('level must be an integer between 1 and 6.');
        }
      }).isRequired,
      visible: PropTypes.bool
    };
    const headingValidate = validateProps(headingProps);
    const defaults = {
      level: 1,
      visible: true
    };
    const {
      level,
      visible,
      ...attrs
    } = {
      ...defaults,
      ...props,
    };
    headingValidate({
      level,
      visible
    });

    const {prefix} = theme;
    const className = [
      `${prefix}-heading--level-${level}`,
      {[`sr-only`]: !visible}
    ];
  case level
    when 1
      h1(class=className)&attributes(attrs)
        block
    when 2
      h2(class=className)&attributes(attrs)
        block
    when 3
      h3(class=className)&attributes(attrs)
        block
    when 4
      h4(class=className)&attributes(attrs)
        block
    when 5
      h5(class=className)&attributes(attrs)
        block
    when 6
      h6(class=className)&attributes(attrs)
        block
