//- @pugdoc
  name: button
  description: create basic button element
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - {string} [props.type] ['button'] - the value of type attribute for button
    - {string} [props.size] ['medium'] - size of button <br> one of `'small'`, `'medium'`, `'large'`, `'fluid'`
    - {string} [props.appearance] ['fill'] - appearance of button <br> one of `'fill'`, `'outline'`
  examples:
    - |
      +button({type: 'button', size: 'medium', appearance: 'outline'}) button
mixin button(props)
  -
    // verifying props
    const btnProps = {
      size: PropTypes.oneOf([
        `small`,
        `medium`,
        `large`,
        `fluid`,
      ]),
      appearance: PropTypes.oneOf([
        `fill`,
        `outline`,
      ]),
    };
    const btnValidate = validateProps(btnProps);
    const defaults = {type: `button`, size: `medium`, appearance: `default`};
    const { type, size, appearance, ...attrs } = {
      ...defaults,
      ...props,
    };
    btnValidate({size, appearance});

    const {prefix} = theme;
    const className = [
      `${prefix}-btn-basic`,
      { [`${prefix}-btn-basic--${size}`]: size },
      { [`${prefix}-btn-basic--${appearance}`]: appearance }
    ];

  button(type=type class=className)&attributes(attrs)
    block
