include ../svg-icon/index

//- @pugdoc
  name: iconButton
  description: icon(font awesome) button component
  beforeEach: |
    include ../../utils/util
    include ../svg-icon/index
  arguments:
    - {object} props
    - {string} props.icon name of icon
    - {string} props.label label of button
    - {string} [props.type] ['button'] the value of type attribute for button
    - |
      {string} [props.size] ['medium'] size of button- size of button
      <br> one of `'small'`, `'medium'`, `'large'``
    - |
      {string} [props.appearance] ['outline'] appearance of button
      <br> one of `'fill'`, `'outline'`, `'ghost'`
    - |
      {string} [props.layout] [`icon-only`] layout of button
      <br> one of `'icon-only', `icon-text``
  examples:
    - |
      +iconButton({
        icon: 'tty',
        label: 'tel',
        type: 'button',
        size: 'medium',
        appearance: 'outline',
      })

mixin iconButton(props = {})
  -
    // define types
    const iconBtnProps = {
      icon: PropTypes.string.isRequired,
      label: PropTypes.string.isRequired,
      type: PropTypes.oneOf([
        `button`,
        `submit`,
        `reset`,
      ]),
      size: PropTypes.oneOf([
        `small`,
        `medium`,
        `large`,
      ]),
      appearance: PropTypes.oneOf([
        `fill`,
        `outline`,
        `ghost`,
      ]),
      layout: PropTypes.oneOf([
        `icon-only`,
        `icon-text`,
      ]),
    };

    // verifying props
    validateProps(iconBtnProps)(props);

    // merge user-supplied options with the defaults
    const defaultProps = {
      type: `button`,
      size: `medium`,
      appearance: `outline`,
      layout: `icon-only`
    };

    // merge user-supplied options with the defaults
    const {
      icon,
      label,
      type,
      size,
      appearance,
      layout,
      ...attrs
    } = {
      ...defaultProps,
      ...props,
    };

    const { prefix } = theme;
    const isIconOnly = layout === `icon-only`;
    const className = [
      `${prefix}-btn-icon`,
      { [`${prefix}-btn-icon--${size}`]: size },
      { [`${prefix}-btn-icon--${appearance}`]: appearance },
      { [`${prefix}-btn-icon--${layout}`]: layout }
    ];

  button(
    type= type
    aria-label= isIconOnly && label
    class= className
  )&attributes(attrs)
    +svgIcon({
      name: icon,
      class: `${prefix}-btn-icon__icon`,
      [`aria-hidden`]: `true`,
    })
    if !isIconOnly
      span(class= `${prefix}-btn-icon__label`)= label
