extends /components/templates/common
include /components/atoms/svg-icon/index
include /components/atoms/heading/index
include /components/molecules/article-meta/index
include /components/molecules/author/index
include /components/molecules/tags-list/index
include /components/organisms/hero/index
include /components/organisms/article-content/index
include /components/organisms/comments/index

block heroContent

  if (hero)
    +hero({
      imgSrc: hero.path,
      width: hero.width,
      height: hero.height,
      bgColor: heroBgColor,
      fullWidth: heroFullWidth,
    })

block mainContent
  if post
    article(class= `${prefix}-article`)
      div(class= `${prefix}-article__header`)
        +heading({
          id: generate_slug(post.title),
          level: 1,
          class: `${prefix}-article__heading`,
        })
          = post.title
          if post.subtitle
            span(class= `${prefix}-article__heading--sub`)= post.subtitle
        if post.categories
          +articleMeta({
            categories: post.categories.toArray(),
            date: post.date,
            updated: post.updated,
          })

      +articleContent({
        content: page.content,
      })

      section(class= `${prefix}-article__tags`)
        +heading({
          level: 2,
          class: `${prefix}-article__tags__heading`,
        })
          span(class= `sr-only`)
            = _p(`section.tags`)
          +svgIcon({
            name: `tags`,
            "aria-hidden": `false`,
          })
        if post.tags
          +tagsList({
            tags: post.tags.toArray(),
            appearance: `flat`,
            class: `${prefix}-article__tags__list`,
          })

    section(class= `${prefix}-article__author`)
      +heading({
        level: 2,
        htmlString: _p(`section.author`),
        visible: false,
      })
      +articleAuthor({
        name: author.name,
        gravatar: author.gravatar,
        description: author.description,
        social: author.social,
      })

    if post.comments !== false
      section(class= `${prefix}-article__comments`)
        +heading({
          level: 2,
          htmlString: _p(`section.comments`),
          visible: false,
        })
        +comments()

block sidebar
