//- @pugdoc
  name: fieldset
  description: create group containing label and body
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - |
      {string} [props.direction] ['row'] how items are placed in the container
      <br>One of `'row'`, `'column'`
    - |
      {string} [props.alignItem] ['start'] alignment of items on the cross axis
      <br>One of `'start'`, `'center'`
    - |
      {integer} [props.labelWidthRatio] [3] the factor of label's width
      in the container
  slots:
    - fieldsetLabelSlot the slot for legend of fieldset
    - fieldsetBodySlot the slot for body of fieldset
  examples:
    - |
      // row
      +fieldset({direction: `row`})
        +fieldsetLabelSlot fieldset title
        +fieldsetBodySlot
          p fieldset body
      // column
      +fieldset({direction: `column`})
        +fieldsetLabelSlot fieldset title
        +fieldsetBodySlot
          p fieldset body
mixin fieldset(props)
  -
    // verifying props
    const fieldsetProps = {
      direction: PropTypes.oneOf([
        `column`,
        `row`,
      ]).isRequired,
      alignItem: PropTypes.oneOf([
        `start`,
        `center`,
      ]),
      labelWidthRatio: PropTypes.number.custom(({prop, propName, props}) => {
        if (prop <= 0 || prop > 9) {
          throw new Error('rowSize must be an integer between 1 and 9.');
        }
        return true;
      }),
    };
    const fieldsetValidate = validateProps(fieldsetProps);
    const defaults = {
      direction: `row`,
      alignItem: `start`,
      labelWidthRatio: 3,
    };
    const {
      direction,
      alignItem,
      labelWidthRatio,
      id,
      ...attrs
    } = {
      ...defaults,
      ...props,
    };
    fieldsetValidate({
      direction,
      alignItem,
      labelWidthRatio
    });

    const {prefix} = theme;
    const uid = id || generateUid();

    let fieldsetLabelSlot = null;
    let fieldsetBodySlot = null;

  mixin fieldsetLabelSlot
    - fieldsetLabelSlot = block;

  mixin fieldsetBodySlot
    - fieldsetBodySlot = block;

  div(
    role= `group`
    aria-labelledby= uid
    class=[
      `${prefix}-field`,
      `${prefix}-field--${direction}`,
      { [`${prefix}-field--${alignItem}`]: direction == `row` }
    ]
  )&attributes(attrs)
    block
    div(
      id= uid
      class= [
        `${prefix}-field__label`,
        { [`${prefix}-field__label--${labelWidthRatio * 10}`]: labelWidthRatio }
      ]
    )
      - fieldsetLabelSlot();
    div(class= `${prefix}-field__body`)
      - fieldsetBodySlot();
