include /components/atoms/heading/index

//- @pugdoc
  name: archiveTimeline
  description: archive timeline component
  beforeEach: |
    include /components/utils/util
    include /components/atoms/heading/index
  arguments:
    - {object} props
    - {map} props.archives the map object that is mapped by year and month
    - |
      {number} props.headingLevel [2]
      the level(rank) of heading in the year section of the timeline
    - |
      {number} [props.displayYearNum] [2]
      the number of latest years to display the list of posts by year
    - {number} [props.currYear] The year currently exposed to page
  examples:
    - |
      +archiveTimeline({
        archives: archive_map(),
        headingLevel: 2,
      })

mixin archiveTimeline(props = {})
  -
    // define types
    const archivesProps = {
      archives: PropTypes.object.isRequired,
      headingLevel: propTypesPreset.headingLevel.isRequired,
      displayYearNum: PropTypes.number,
      currYear: PropTypes.number,
    };

    // verifying props
    validateProps(archivesProps)(props);

    // merge user-supplied options with the defaults
    const defaultProp = {
      archives: {},
      headingLevel: 2,
      displayYearNum: 2,
    };

    const {
      archives,
      headingLevel,
      displayYearNum,
      currYear,
      ...attrs
    } = {
      ...defaultProp,
      ...props,
    };

    const { prefix } = theme;

  div(class= `${prefix}-timeline`)&attributes(attrs)
    -
      let count = 0;
      const archiveEntries = currYear
        ? [[currYear, archives.get(currYear)]]
        : [...archives.entries()];

    each archiveEntry in archiveEntries
      - const [year, subMap] = archiveEntry;
      if !currYear
        +heading({
          level: headingLevel,
          class: `${prefix}-timeline__year`
        })
          = year
          | &rsquo;
          = " "
          span
            = _p('label.posts.default')

      if subMap.size && ++count <= displayYearNum
        ol(class= `${prefix}-timeline__list`)
          - const monthEntries = [...subMap.entries()];
          each monthEntry in monthEntries
            - const [month, monthlyItem] = monthEntry;
            if monthlyItem && monthlyItem.length
              each item in monthlyItem
                li(class= `${prefix}-timeline__list__item`)
                  a(
                    href= item.permalink
                    class= `${prefix}-timeline__link`
                  )
                    span(class= `${prefix}-timeline__title`)
                      = item.title
                    if item.subtitle
                      span(class= `${prefix}-timeline__title--sub`)
                        = item.subtitle
      else
        span(class= `${prefix}-timeline__more`)
          a(
            href= `${full_url(`/archives/${year}`)}`
          )
            = _p('label.read_more')
