-
  const getPageTitle = (page, config) => {
    const { title, year, month, tag, category } = page;
    const { title: siteTitle, language } = config;

    if (is_post()) return title;
    if (is_archive()) {
      const date = year
        ? dateFormat(
            new Date(`${year}-${month || ''}`),
            month ? `yyyy.LL` : `yyyy`
          )
        : ``;
      return _p(`title.archives`, date);
    }
    // getJosa is only for Korean
    if (is_tag()) return _p(`title.tag`, tag, getJosa(tag, '와'));
    return siteTitle;
  };
  const stripFileName = url => url.replace(/([^\\\/]+)$/g, ``);

mixin pageSequenceLink
  - const { prev_link, prev, next_link, next } = page;
  if (prev_link || prev.permalink)
    - const hrefURL = prev_link ? `${config.url}/${prev_link}` : prev.permalink;
    link(rel="prev" href=stripFileName(hrefURL))
  if (next_link || next.permalink)
    - const hrefURL = next_link ? `${config.url}/${next_link}` : next.permalink;
    link(rel="next" href=stripFileName(hrefURL))
