- const stripFileName = (url) => url.replace(/([^\\\/]+)$/g, ``);

mixin pageTitle
  -
    const { title, year, month, tag, category } = page;
    const { title: siteTitle, language } = config;
    let pageTitle = siteTitle;
    const date = year
      ? dateFormat(
          new Date(`${year}-${month || ''}`),
          month ? `yyyy.LL` : `yyyy`
        )
      : ``;
    if (is_home()) pageTitle = title;
    if (is_archive()) pageTitle = _p(`title.archives`, date);
    if (is_tag()) pageTitle = _p(`title.tag`, tag, getJosa(tag, '와'));
  title= pageTitle

mixin pageSequenceLink
  - const { prev_link, prev, next_link, next } = page;
  if (prev_link || prev.permalink)
    - const hrefURL = prev_link ? `${config.url}/${prev_link}` : prev.permalink;
    link(rel="prev" href=stripFileName(hrefURL))
  if (next_link || next.permalink)
    - const hrefURL = next_link ? `${config.url}/${next_link}` : next.permalink;
    link(rel="next" href=stripFileName(hrefURL))
