//- @pugdoc
  name: radio
  description: create input radio element
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - {string} props.name name of radio
    - {string|number|boolean} props.value the value of radio
    - |
      {string} [props.id] the value of radio's id attribute
      and label's for attribute
    - |
      {string} [props.label] label of radio<br>
      If do not specify this value, you should provide label
      as block or separated label element
    - {boolean} [props.checked] the checked state of radio
    - |
      {string} [props.labelPosition] ['right'] Where the label is located
      relative to the visual indicator<br>
      One of `'top'`, `'left'`, `'right'`, `'bottom'`
    - {string|string[]} [props.labelClassName] the class name for label element
    - {object} [props.inputAttrs] [{}] the attrs for input:radio
  examples:
    - |
      // basic
      +radio({label: 'yes', name: 'answer', value: 1})

      // using block instead of label property
      +radio({name: 'answer', value: 1}) radio button

      // using separated label element
      +radio({name: 'answer', id: "no-label", value: 1})
      label(for="no-label") radio button

mixin radio(props = {})
  -
    site.usedComponents.add(`radio`);

    // define types
    const radioProps = {
      name: PropTypes.string.isRequired,
      value: PropTypes.oneOfType([
        PropTypes.string,
        PropTypes.number,
        PropTypes.bool,
      ]).isRequired,
      id: PropTypes.string,
      label: PropTypes.string,
      checked: PropTypes.bool,
      labelPosition: PropTypes.oneOf([
        `top`,
        `left`,
        `right`,
        `bottom`,
      ]),
      labelClassName: PropTypes.oneOfType([
        PropTypes.string,
        PropTypes.arrayOf(PropTypes.string),
      ]),
      inputAttrs: PropTypes.object,
    };

    // verifying props
    validateProps(radioProps)(props);

    // merge user-supplied options with the defaults
    const defaultProps = {
      id: generateUid(),
      labelPosition: `right`,
      inputAttrs: {},
    };
    const {
      name,
      value,
      id,
      label,
      checked,
      labelPosition,
      labelClassName: lblClassName,
      class: className,
      inputAttrs,
      ...attrs
    } = {
      ...defaults,
      ...props,
    };

    const { prefix } = theme;
    const isReverse = [`left`, `top`].includes(labelPosition);
    const isColumn = [`top`, `bottom`].includes(labelPosition);
    const labelClassName = [
      `${prefix}-radio__label`,
      { [`${prefix}-radio__label--reverse`]: isReverse },
      { [`${prefix}-radio__label--column`]: isColumn },
      ...(Array.isArray(lblClassName) ? lblClassName : [lblClassName] ),
    ];

  span(
    class= [
      `${prefix}-radio`,
      ...(Array.isArray(className) ? className : [className]),
    ]
  )
    input(
      type= `radio`
      id= id
      name= name
      value= value
      checked= checked
      class= `${prefix}-radio__control`
    )&attributes(inputAttrs)
    if (label || block)
      label(
        for= id
        class= labelClassName
      )
        if (label)
          = label
        block
    else
      span(
        class= labelClassName
        aria-hidden= `true`
      )
