//- @pugdoc
  name: watermark
  description: watermark for theme
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} props
    - |
      {boolean} [props.hexo] [true]
      whether to display tool for generating as hexo
  examples:
    - |
      +watermark()

mixin watermark(props = {})
  -
    // define types
    const watermarkProps = {
      hexo: PropTypes.bool,
    };

    // verifying props
    validateProps(watermarkProps)(props);

    // merge user-supplied options with the defaults
    const defaultProps = { hexo : true };
    const {
      hexo,
      ...attrs
    } = {
      ...defaultProps,
      ...props,
    };

    const { prefix } = theme;

  p(
    class= `${prefix}-watermark`
  )
    if hexo
      | Powered by
      = " "
      a(
        href="https://hexo.io/"
        rel="external noreferrer"
        target="_blank"
      ) Hexo.

    |  Theme by
    = " "
    a(
      href="https://github.com/mulder21c"
      rel="external noreferrer"
      target="_blank"
    ) mulder21c.
