include /components/utils/util
include /components/utils/mixin
include /components/atoms/radios/boxy
include /components/atoms/svg-icon/index
include /components/molecules/radio-group/slider
include /components/molecules/radio-group/boxy
include /components/molecules/fieldset/default
include /components/molecules/navigation/category/index
include /components/molecules/navigation/menu/index
include /components/molecules/navigation/links/index
include /components/organisms/accordion/index
include /components/organisms/title-bar/index
include /components/organisms/slide-panel/index
include /components/organisms/footer/index

-
  const {title: siteTitle} = config;
  const { prefix, search: useSearch } = theme;

doctype html
html(lang=config.language)
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    meta(
      name="color-scheme"
      content="dark light"
    )
    link(
      rel="canonical"
      href=stripFileName(url)
    )
    if theme.favicon
      link(
        rel="shortcut icon"
        href=url_for(theme.favicon)
      )
    +pageTitle
    +pageSequenceLink
    +preLoadImage
    +openGraph
    +siteVerification
    +styles([])
    if page.style
      style
       != compile_sass(page.style)
    +jsonLD
    +analytics
    +adsense
  body
    header._header
      +titleBar({
        title: siteTitle,
        useLink: true,
        class: `${prefix}-title-bar`
      })
        +beforeSlot
          +iconButton({
            type: 'button',
            size: 'medium',
            appearance: 'ghost',
            icon: 'angle-right',
            label: 'open',
            class: `${prefix}-btn-menu`,
            "aria-controls": `slide-nav`,
            "aria-haspopup": `dialog`,
          })
    div._container(role= "main")
      block heroContent
      block mainContent

    +slidePanel({
      label: _p(`section.side`),
      useCloseBtn: true,
      closeBtnPosition: `top-right`,
      class: '_side',
      id: 'slide-nav',
      "data-ui-name": "sidebar",
    })
      +panelBodySlot
        +accordion({
          headingLevel: 2,
          "data-ui-name": "sidebar-accordion"
        })
          +accordionHeadingSlot
            span(aria-hidden= true) ⚙️
            = _p(`section.settings`)
          +accordionPanelSlot
            +fieldset({direction: `column`})
              +fieldsetLabelSlot
                = _p(`form.theme.name`)
              +fieldsetBodySlot
                +radioBoxes({
                  name: `theme`,
                  options: [
                    { value: `auto`, },
                    { value: `light`, },
                    { value: `dark`, },
                  ]
                })
                  +radioBoxesLabelSlot
                    = _p(`form.theme.option.auto`)
                  +radioBoxesLabelSlot
                    = _p(`form.theme.option.light`)
                  +radioBoxesLabelSlot
                    = _p(`form.theme.option.dark`)
            +fieldset({direction: `column`})
              +fieldsetLabelSlot
                = _p(`form.font_size.name`)
              +fieldsetBodySlot
                +radioSlider({
                  name: `font-size`,
                  labelPosition: `bottom`,
                  options: [
                    {
                      label: _p(`form.font_size.option.small`),
                      value: `small`,
                    },
                    {
                      label: _p(`form.font_size.option.medium`),
                      value: `medium`,
                    },
                    {
                      label: _p(`form.font_size.option.large`),
                      value: `large`,
                    },
                  ]
                })

          if (theme.menu && theme.menu.length)
            +accordionHeadingSlot
              span(aria-hidden= true) 📑
              = _p(`section.menu`)
            +accordionPanelSlot
              +menuNavigation()

          if (site.categories && site.categories.length)
            +accordionHeadingSlot
              span(aria-hidden= true) 📂
              = _p(`section.categories`)
            +accordionPanelSlot
              +categoryNavigation()

          if (theme.links && theme.links.length)
            +accordionHeadingSlot
              span(aria-hidden= true) 🔗
              = _p(`section.external-links`)
            +accordionPanelSlot
              +linksNavigation()

        if (useSearch)
          a(
            href= full_url(`/search`)
            class= `${prefix}-side-panel__search`
          )
            span(aria-hidden= true) 🔎
            = _p(`section.search`)
            +svgIcon({
              name: `arrow-up-right-from-square`,
              class: `${prefix}-side-panel__search__icon`
            })


        block sidebar

    footer._footer
      +footerContent
