extends /components/templates/common
include /components/atoms/heading/index
include /components/organisms/hero/index
include /components/organisms/posts-list/index
include /components/organisms/pagination/index

block heroContent
  -
    const listHero = (primaryHero && primaryHero.path) ? primaryHero : hero;

  if (listHero)
    +hero(listHero && {imgSrc: listHero.path, class: `${prefix}-section-hero`})

block mainContent
  -
    const listHeadingProp = {
      ...{
        id: headingId,
        level: 1,
        visible: true,
        class: `${prefix}-list__heading`,
      },
      ...(headingProp || {})
    };

  div(class= `${prefix}-list`)
    +heading(listHeadingProp)
      if (headingScope)
        span(class= `${prefix}-list__heading__scope`)
          = headingScope

    +postsList({
      posts,
    })

    +pagination({
      labelRef: headingId,
      class: `${prefix}-list__pagination`
    })

block sidebar
